* {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

/* HEADER */
#header {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#header h1, h1 strong {
    font-family: 'Pacifico', cursive;
    cursor: default;
    color: red;
}

#links {
    margin-top: 15px;
    margin-right: 20px;
}

#links ul li{
    display: inline-block;
}

#links ul li a {
    padding: 5px;
    text-decoration: none;
    color: gray;
    border-bottom: 0px solid gray; 
    transition: border 150ms, padding 150ms;
}

#links ul li a:hover {
    border-bottom: 2px solid gray;
    padding-bottom: 15px;
}

/* LANDING PAGE */
#landingPage {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/indexImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    padding: 100px 20px;
}

#landingPage h1 {
    font-family: "Cedarville Cursive", cursive;
    margin-top: 50px;
    color: white;
}

#landingPage .btn {
    margin: 50px 20px;
}

#landingPage .mobileOnly {
    font-family: "Cedarville Cursive", cursive;
    font-size: 20pt;
    color: white;
}

/* UPCOMING EVENTS */
#upcomingEvents {
    padding: 50px 20px;
    text-align: center;
}

#upcomingEvents h1 b {
    color: #313E47;
}

.event {
    overflow: auto;
    padding: 10px 10px 20px 10px;
    display: inline-block;
    vertical-align: top;
    width: 24%;
    box-shadow: 1px 1px 5px lightslategray;
    border-radius: 10px;
    position: relative;
}

.creator {
    position: absolute;
    bottom: 0;
    margin: 0px;
    padding: 0px;
}

.creator p .userImage {
    padding: 0px; 
    margin: 5px;
    width: 10%;
    height: 20%px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.creator p {
    display: inline-block;
    vertical-align: top;
}

.eventInfo  h1 {
    font-size: 20pt;
    width: 100%;
    height: 30%;
    color: red;
    font-family: "Cedarville Cursive", cursive; 
    position: flex;
}

.eventInfo p {
    color: gray;
    width: 100%;
    height: 30%;
    position: flex;
}

.eventInfo p b {
    color: #313E47;
    position: flex;
}

.eventInfo h3 {
    color: #313E47;
    margin-top: 30px;
    width: 100%;
    height: 80%;
    position: flex;
}

/* HOW IT WORKS */
#howItWorks {
    display: inline-block;
    background-color: #111720;
    color: white;
    text-align: center;
    padding: 50px 10px 25px 0px;
    width: 100%;
    text-decoration: none;
}

.find {
    width: 40%;
}

.find a:link {
    text-decoration: none;
}

.create a:link {
    text-decoration: none;
}

.create {
    width: 40%;
}

.find, .create {
    margin-top: 50px;
    display: inline-block;
    vertical-align: top;
}

.arrow {
    margin-left: 25px;
    color: #46A0C3;
}

a b {
    color: #46A0C3;
}

.icon {
    color: #46A0C3;
    margin: 5px;
}

.icon, .find {
    display: inline-block;
}

.icon2 {
    color: #46A0C3;
    margin: 5px;
}

.icon2, .create {
    display: inline-block;
}

#footer {
    background-color: #363E47;
    color: white;
    width: 100%;
    height: 45px;
    text-align: center;
    margin: 0px;
    padding-top: 5px;
}

@media only screen and (max-width: 480px) {
    /* HEADER */
    #header {
        background-color: white;
        padding: 5px;
        width: 100%;
        opacity: 0.88;
    } 

    #header h1, #links {
        margin: auto;
    }

    #header h1{
        display: block;
    }

    #header #links {
        display: block;
    }

    #links ul li a:hover {
        border-bottom: 2px solid gray;
        padding-bottom: 8px;
    }

    /* LANDING PAGE */
    #landingPage {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ducatiMobileImage2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
    }

    #landingPage h1 {
        display: none;
    }

    #landingPage .btn {
        display: none;
    }

    /* UPCOMING EVENTS */
    .event {
        width: 85%;
        height: 200px;
        margin: 30px 0px;
    }

    .eventInfo h1 {
        margin-top: 15px;
    }

    .eventInfo h3 {
        margin: 0px;
    }

    /* HOW IT WORKS */
    .find {
        width: 100%;
    }
    
    .create {
        width: 100%;
    }

    .find, .create {
        margin-top: 50px;
        display: block;
        text-align: center;
    }  
}

@media only screen and (min-width: 481px) {
    /* LANDING PAGE */
    #landingPage {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tabletImage3.jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #landingPage .mobileOnly {
        display: none;
    }

    #landingPage h1 {
        font-size: 30pt;
        margin-bottom: 50px;
        text-align: center;
    }
    #landingPage .btn {
        margin: 0px auto;
        padding: 0px;
        width: 150px;
        height: 40px;
        box-shadow: 1px 1px 6px rgb(0, 0, 0.5);
    }

    /* UPCOMING EVENTS */
    .event {
        margin: 40px;
        width: 30%;
        height: 200px;
        font-size: 12px;
    }

    .eventInfo h3 {
        font-size: 15pt;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .creator {
        text-align: center;
        margin: 0px;
    }

    .creator p  b {
        margin-right: 25px;
    }

    .eventInfo h1 {
        margin-top: 10px;
        padding: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* HOW IT WORKS */
    .find {
        margin-right: 8px;
    }

    .create {
        margin-left: 8px;
    }

}

@media only screen and (min-width: 1080px) {
    /* HEADER */
    #header .links {
        margin-top: 20px;
    }

    /* UPCOMING EVENTS */
    .event {
        width: 20%;
    }

    /* LANIDNG PAGE */
    #landingPage {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/indexImage.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 600px;
        padding: 100px 20px;
    }
    
    #landingPage { 
        text-align: center;
    }

    #landingPage .mobileOnly {
        display: none;
    }

    #landingPage .btn {
        width: 200px;
        height: 40px;
        box-shadow: 1px 1px 6px rgb(0, 0, 0.5);
    }

    /* EVENT */
    .event {
        margin: 15px;
        height: 200px;
        padding: 10px;
        font-size: 12px;
    }

    .eventInfo {
        padding: 0px;
    }

    .eventInfo p {
        margin-top: 10px;
    }

    .eventInfo h1 {
        height: 45px;
        padding: 5px;
        margin: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .eventInfo h3 {
        margin: 10px 0px;;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .creator {
        text-align: center;
        margin: 0px;
    }

    .creator p b {
        margin-right: 15px;
    }
}

