* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}

#container {
    width: 100%
}

/* HEADER */
#header {
    background-color: whitesmoke;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    width: 100%;
}

#header h1, h1 strong {
    font-family: 'Pacifico', cursive;
    cursor: default;
    color: #F53756;
}

#links {
    margin-top: 15px;
    margin-right: 20px;
}

#links ul li{
    display: inline-block;
    margin: 0px 10px;
}

#links ul li a {
    padding: 5px;
    text-decoration: none;
    color: gray;
    border-bottom: 0px solid gray; 
    transition: border 150ms, padding 150ms;
}

#links ul li a:hover {
    border-bottom: 2px solid gray;
    padding-bottom: 15px;
}

/* UPCOMING */
#upcomingEvent {
    background-color: whitesmoke;
}

#footer {
    background-color: #363E47;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0px;
}

#footer p {
    margin: 10px;
}

@media only screen and (max-width: 480px) {
    .dropdown {
        display: none;
    }

    #container {
        position: fixed;
        width: 100%;
    }

    /* HEADER */
    #header {
        background-color: whitesmoke;
        padding: 5px;
        width: 100%;
    } 

    #header h1{
        margin: auto;
        font-size: 15px;
    }

    #links {
        display: none;
    }

    #mobileLinks {
        background-color: white;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        margin: auto;
        padding: 5px 0px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    #mobileLinks a {
        text-decoration: none;
        color: gray;
        padding: 0px;
        margin: 5px 22px 0px 22px;
        display: inline-block;
        vertical-align: top;
    }

    #mobileLinks p {
        font-size: 9pt;
    }

    #mobileLinks a:hover {
        filter: brightness(25%);
    }

    #mobileLinks a p, i {
        display: block;
    }

    /* PROFILE VIEW */
    #mobileProfileView {
        background-color: whitesmoke;
        padding: 25px;
        margin-bottom: 0px;
        display: block;
        height: 100vh;
    }

    #mobileProfileView img {
        margin: 0px 10px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    #mobileProfileView .title, .details {
        text-align: center;
        display: block;
    }

    .title {
        margin-top: 120px;
    }

    .details {
        padding: 20px;
        margin: 50px 0px;
        background-color: white;
        border: 1px gray solid;
        box-shadow: 1px 1px 4px gray; 
    }

}

@media only screen and (min-width: 481px) {
    #mobileLinks {
        display: none;
    }

    #desktopUpcomingEvent {
        display: none;
    }

    #links {
        display: none;
    }

    /* HEADER */
    #container {
        /* position: fixed; */
        width: 100%
    } 

    #header {
        margin: 0px;
        padding: 12px;
        background-color: whitesmoke;
        justify-content: space-between;
        width: 100%;
    }

    #header h1{
        margin: 0px;
        font-size: 25pt;
    }

    /* DROPDOWN MENU FOR TABLET */
    .dropdown {
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 5px;
    }

    .menuButton {
        background-color: gray;
        color: white;
        margin: 5px 20px;
        padding: 10px;
        font-size: 16px;
        width: 200px;
        height: 45px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
      
    .menuButton:hover, .menuButton:focus {
        filter: brightness(120%);
    }
      
    .dropdown-content {
        margin-left: 20px;
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 200px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
      
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
      
    .dropdown a:hover {
        background-color: #ddd;
    }
      
    .show {
        display: block;
    }

    /* PROFILE VIEW */
    #mobileProfileView {
        background-color: white;
        padding: 25px;
        margin: 0px;
        display: block;
        height: 100vh;
        width: 100%;
    }

    #mobileProfileView img {
        margin: 0px 10px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    #mobileProfileView .title, .details {
        text-align: center;
        display: block;
    }

    .details {
        margin: auto;
        margin-top: 50px;
        width: 400px;
        padding: 20px;
        background-color: whitesmoke;
        border: 1px gray solid;
        box-shadow: 1px 1px 4px gray; 
    }


}

@media only screen and (min-width: 1024px) {
    #mobileLinks {
        display: none;
    }

    #mobileUpcomingEvent{
        display: none;
    }

    .dropdown {
        display: none;
    }

    /* HEADER */
    #container #header {
        background-color: whitesmoke;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    #header h1, h1 strong {
        font-family: 'Pacifico', cursive;
        cursor: default;
        color: #F53756;
    }

    #links {
        display: initial;
        margin-top: 15px;
        margin-right: 20px;
    }

    #links ul li{
        display: inline-block;
        margin: 0px 10px;
    }

    #links ul li a {
        padding: 5px;
        text-decoration: none;
        color: gray;
        border-bottom: 0px solid gray; 
        transition: border 150ms, padding 150ms;
    }

    #links ul li a:hover {
        border-bottom: 2px solid gray;
        padding-bottom: 15px;
    }

    /* PROFILE VIEW */
    #mobilePorfileView {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .title h2 {
        font-size: 45pt;
    }

    .title p {
        font-size: 25pt;
    }

    #mobileProfileView .title img {
        width: 250px;
        height: 250px;
    }

    .details {
        margin: auto;
        margin-top: 50px;
        width: 500px;
    }

}