<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>2Wheel Meetups</title>
        <link rel="stylesheet" href="../static/css/index.css">
        <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Josefin+Sans|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../js/index.js"></script>
    </head>

    <body>
        <div id="header">
            <h1><strong>2Wheel Meetups</strong></h1>

            <div id="links">
                <ul>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Sign Up</a></li>
                </ul>
            </div>
        </div>

        <div id="landingPage">

            <h1>Let's meet for a ride!</h1>
            <p class="mobileOnly">Let's meet <br> for a ride!</p>
            <button type="button" class="btn btn-danger">Sign Up</button>

        </div>

        <div id="upcomingEvents">

            <h1><b>Upcoming Meetups</b></h1>

            <div class="event">

                <div class="eventInfo">

                    <p>Friday, December 25, 5:00 PM</p>

                    <h3><b>San felipe: Meet at the parking lot area at Evergreen.</b></h3>
                    <h1>San Jose</h1>
                    <div class="creator">
                        <p><img class="userImage" src="../static/images/placeholder.png" alt=""> Hosted by <b>Gustavo Arellano</b></p>
                    </div>

                </div>

            </div>

            <div class="event">

                <div class="eventInfo">

                    <p>Saturday, December 25, 5:00 PM</p>

                    <h3><b>Bay Bridge - All the way to Half Moon Bay.</b></h3>

                    <h1>San Francisco</h1>

                    <div class="creator">
                        <p><img class="userImage" src="../static/images/placeholder.png" alt=""> Hosted by <b>Gustavo Arellano</b></p>
                    </div>

                </div>

            </div>

            <div class="event">

                <div class="eventInfo">

                    <p>Monday, December 25, 5:00 PM</p>

                    <h3><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda cupiditate repellendus porro ducimus aliquam. Dolor aliquam porro, illum esse voluptatibus sapiente iusto ea, nisi harum inventore impedit blanditiis atque! Consequatur.</b></h3>

                    <h1>American Canyon</h1>

                    <div class="creator">
                        <p><img class="userImage" src="../static/images/placeholder.png" alt=""> Hosted by <b>Gustavo Arellano</b></p>
                    </div>

                </div>

            </div>

            <div class="event">

                <div class="eventInfo">

                    <p>Tuesday, December 25, 5:00 PM</p>

                    <h3><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda cupiditate repellendus porro ducimus aliquam. Dolor aliquam porro, illum esse voluptatibus sapiente iusto ea, nisi harum inventore impedit blanditiis atque! Consequatur.</b></h3>

                    <h1>San Luis Obispo</h1>

                    <div class="creator">
                        <p><img class="userImage" src="../static/images/placeholder.png" alt=""> Hosted by <b>Gustavo Arellano</b></p>
                    </div>

                </div>

            </div>
                            
        </div>

        <div id="howItWorks">

            <h1><b>How Meetups Work</b></h1>

            <div class="find">
                <h3><i class="icon fas fa-search"></i> Discover Events</h3>
                <p>See available events in your desired location.</p>
                <a href="#"><b>Join 2Wheel Meetups</b><i class="arrow fas fa-arrow-right"></i></a>
            </div>

            <div class="create">
                <h3><i class="icon2 fas fa-plus"></i> Start An Event</h3>
                <p>Create your own meetup event, and draw from a riding community of hundreds.</p>
                <a href="#"><b>Get Started</b><i class="arrow fas fa-arrow-right"></i></a>
            </div>

        </div>

        <div id="footer">
            <p>2Wheel Meetups &reg; by Gustavo Arellano<p>
        </div>

    </body>
</html>