<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>2Wheel Meetups</title>
        <link rel="stylesheet" href="../static/css/index.css">
        <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <body>
        <div id="header">
            <h1><strong>2Wheel Meetups</strong></h1>

            <div id="links">
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
            </div>
        </div>

        <div id="landingPage">
            <h1>Let's meet for a ride!</h1>
            <p class="mobileOnly">Let's meet <br> for a ride!</p>
            <button type="button" class="btn btn-info">Sign Up</button>
        </div>

        <div id="zipcodes">

        </div>

        <div id="howItWorks">

        </div>

        <div id="upcomingMeets">

        </div>

        <div id="footer">
            
        </div>

    </body>
</html>