<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>2Wheel Meetups - HOME</title>
        <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Josefin+Sans|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/welcome.css">
        <script src="../js/welcome.js"></script>
    </head>

    <body>
        <div id="container">
            <div id="header">
                <h1><strong>2Wheel Meetups</strong></h1>

                <div id="links">
                    <ul>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="explore.html">Explore</a></li>
                        <li><a href="create.html">Create</a></li>
                        <li><a href="index.html">Sign Out</a></li>
                    </ul>
                </div>

                <div class="dropdown">

                    <button onclick="myFunction()" class="menuButton"><i class="fas fa-bars"></i> MENU</button>

                    <div id="tabletDropdown" class="dropdown-content">
                        <a href="profile.html">Profile</a>
                        <a href="explore.html">Explore</a>
                        <a href="create.html">Create</a>
                        <a href="index.html">Sign Out</a>
                    </div>

                </div>

            </div>

            <div id="mobileLinks">

                <a href="profile.html">
                    <i class="fas fa-user fa-2x"></i>
                    <p>Profile</p>
                </a>
                <a href="explore.html">
                    <i class="fas fa-search fa-2x"></i>
                    <p>Explore</p>
                </a>
                <a href="create.html">
                    <i class="fas fa-motorcycle fa-2x"></i>
                    <p>Create</p>
                </a>
                <a href="welcome.html">
                    <i class="fas fa-sign-out-alt fa-2x"></i>
                    <p>Sign Out</p>
                </a>
            
            </div>
        </div>
        
        <div id="mobileUpcomingEvent">

            <h5><strong>YOUR NEXT MEETUP</strong></h5>

            <div class="event">

                <p class="date">Friday, December 25, 2019, 5:00 PM</p>
                <img src="../static/images/routeImage.png" alt="">
                <p class="address"><a href="#">3095 Yerba Buena Rd, San Jose, CA 95135</a></p>
                <p class="title"><a href="eventDetail.html">San Felipe Road</a></p>

                <div class="goingComment">
                    <a href="eventDetail.html">
                        <i class="fas fa-motorcycle"></i>
                        <p>30 Riders Going</p>
                    </a>

                    <a class="comment" href="eventDetail.html">
                        <i class="fas fa-comment-alt"></i>
                        <p>Comment</p>
                    </a>
                </div>
                
            </div>

        </div>

        <div id="tabletUpcomingEvent">
            
            <h6>YOUR NEXT MEETUP</h6>
            <hr>
            <div class="infoLeft">
                <h1><b>San Felipe Road</b></h1>
                <h5>San Jose, CA <br><br> <i class="fas fa-motorcycle"></i> 30 Riders Going</h5>
            </div>

            <img class="roadImage" src="../static/images/roadImage.png" alt="">
            
            <div class="icons">
                <i class="fas fa-calendar-day"></i>
                <br><br>
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="infoRight">
                <h5>Friday, December 25, 2019</h5>
                <br>
                <h5><b>Evergreen Parking Lot A</b></h5>
                <h5>3095 Yerba Buena Rd. <br> San Jose, CA 95127</h5>
                
            </div>
        </div>

        <h6><a href="."></a></h6>

        <div id="mobileAvailableMeetups">

            <h5><strong>ALL AVAILABLE MEETUPS</strong></h5>
            <div class="event">

                <p class="date">Friday, December 25, 2019, 5:00 PM</p>
                <img src="../static/images/routeImage.png" alt="">
                <p class="address"><a href="#">3095 Yerba Buena Rd, San Jose, CA 95135</a></p>
                <p class="title"><a href="eventDetail.html">San Felipe Road</a></p>

                <div class="goingComment">
                    <a href="eventDetail.html">
                        <i class="fas fa-motorcycle"></i>
                        <p>30 Riders Going</p>
                    </a>

                    <a class="comment" href="eventDetail.html">
                        <i class="fas fa-comment-alt"></i>
                        <p>Comment</p>
                    </a>
                </div>
                
            </div>

            <div class="event">

                <p class="date">Friday, December 25, 2019, 5:00 PM</p>
                <img src="../static/images/routeImage.png" alt="">
                <p class="address"><a href="#">3095 Yerba Buena Rd, San Jose, CA 95135</a></p>
                <p class="title"><a href="eventDetails">San Felipe Road</a></p>

                <div class="goingComment">
                    <a href="eventDetails.html">
                        <i class="fas fa-motorcycle"></i>
                        <p>30 Riders Going</p>
                    </a>

                    <a class="comment" href="eventDetail.html">
                        <i class="fas fa-comment-alt"></i>
                        <p>Comment</p>
                    </a>
                </div>
                
            </div>

            <div class="event">

                <p class="date">Friday, December 25, 2019, 5:00 PM</p>
                <img src="../static/images/routeImage.png" alt="">
                <p class="address"><a href="#">3095 Yerba Buena Rd, San Jose, CA 95135</a></p>
                <p class="title"><a href="eventDetails">San Felipe Road</a></p>

                <div class="goingComment">
                    <a href="eventDetails.html">
                        <i class="fas fa-motorcycle"></i>
                        <p>30 Riders Going</p>
                    </a>

                    <a class="comment" href="eventDetails.html">
                        <i class="fas fa-comment-alt"></i>
                        <p>Comment</p>
                    </a>
                </div>
                
            </div>

            <div class="event">

                <p class="date">Friday, December 25, 2019, 5:00 PM</p>
                <img src="../static/images/routeImage.png" alt="">
                <p class="address"><a href="#">3095 Yerba Buena Rd, San Jose, CA 95135</a></p>
                <p class="title"><a href="eventDetails">San Felipe Road</a></p>

                <div class="goingComment">
                    <a href="eventDetails.html">
                        <i class="fas fa-motorcycle"></i>
                        <p>30 Riders Going</p>
                    </a>

                    <a class="comment" href="eventDetails.html">
                        <i class="fas fa-comment-alt"></i>
                        <p>Comment</p>
                    </a>
                </div>
                
            </div>

            <div class="event">

                <p class="date">Friday, December 25, 2019, 5:00 PM</p>
                <img src="../static/images/routeImage.png" alt="">
                <p class="address"><a href="#">3095 Yerba Buena Rd, San Jose, CA 95135</a></p>
                <p class="title"><a href="eventDetails">San Felipe Road</a></p>

                <div class="goingComment">
                    <a href="eventDetails.html">
                        <i class="fas fa-motorcycle"></i>
                        <p>30 Riders Going</p>
                    </a>

                    <a class="comment" href="eventDetails.html">
                        <i class="fas fa-comment-alt"></i>
                        <p>Comment</p>
                    </a>
                </div>
                
            </div>

        </div>

        <div id="footer">
            <p>2Wheel Meetups &reg; by Gustavo Arellano<p>
        </div>
        
    </body>
</html>